body {
    font-family: monospace;
}

h1 { 
    color: lightblue;
    margin-left: 40px;
    padding-left: 40px;
    font-weight: normal;
}

h2 { 
    color: blue;
    margin-left: 80px;
    padding-left: 40px;
    font-weight: normal;
}

p {
    margin-left: 120px;
    padding-left: 40px;
}

.dotted-indents {
    border-left: 3px gray dotted;
}